<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns:sec="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />
<body class="d-flex flex-column">

  <div th:replace="adminHome :: navbarAdmin"> </div>

  <div class="container page-content table-responsive-xl">
    <table id="table-article" class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Tiêu đề</th>
        <th>Thể loại</th>
        <th>Nhãn hàng</th>
        <th>Kích thước</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Mở rộng</th>
      </tr>
    </thead>
    <tbody>
      <tr data-th-each="article : ${articles}">
        <td th:text="${article.title}"></td>
        <td><div style="display:flex;"><span th:each="item : ${article.categories}" 
            th:text="${item.getName()}" class="badge badge-secondary mt-1 mr-1" ></span></div></td>
        <td><div style="display:flex;"><span th:each="item : ${article.brands}" 
            th:text="${item.getName()}" class="badge badge-secondary mt-1 mr-1" ></span></div></td>
        <td><div style="display:flex;"><span th:each="item : ${article.sizes}" 
            th:text="${item.getValue()}" class="badge badge-secondary mt-1 mr-1" ></span></div></td>
        <td th:text="${article.price}"></td>
        <td th:text="${article.stock}"></td>
        <td><a th:href="@{/article/edit?id=}+${article.id}" class="badge badge-primary">SỬA</a>  
            <a th:href="@{/article/delete?id=}+${article.id}" class="badge badge-danger">XÓA </a> </td>
      </tr>
    </tbody>
  </table>
  </div>



  <div th:replace="common/header :: body-scripts"> </div>
  
  <script>
  	$(document).ready(function() {
	    $('#table-article').DataTable({
	    	stateSave: true
	    });
	} );
  </script> 

</body>
</html>
