<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container my-3 my-sm-5 page-content">
    <div class="row justify-content-center" id="row-login">
      <div class="col-sm-10 col-md-11 col-lg-9 col-xl-8">      
        <div class="card card-login">
          <div class="card-body">
            <div class="row">
            
              <!-- Login Form -->
              <div class="col-md-6 col-login">
                <form th:action="@{/login}" method="post" >
                  <div class="form-group text-center">
                    <h2 class="bold">Đăng Nhập</h2>
                  </div>
                  <div class="form-group">
                    <div class="input-icon"> 
                      <i data-feather="user"></i> 
                      <input required="required" type="text" class="form-control" placeholder="Tên đăng nhập" name="username" 
                             th:classappend="${param.error} ? is-invalid" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon"> 
                      <i data-feather="lock"></i> 
                      <input required="required" type="password" class="form-control" placeholder="Mật khẩu" name="password"
                             th:classappend="${param.error} ? is-invalid" >
                      <div class="invalid-feedback">Tên đăng nhập hoặc mật khẩu không hợp lệ</div>  
                    </div>                    
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox"
                        class="custom-control-input" id="loginRemember" name="remember-me">
                      <label class="custom-control-label"
                        for="loginRemember">Nhớ mật khẩu</label>
                    </div>
                    <a href="#" class="text-primary small reset">Quên mật khẩu ?</a>
                  </div>
                  <button type="submit"
                    class="btn btn-primary btn-block">ĐĂNG NHẬP</button>
                </form>
              </div>
              <!-- /Login Form -->

              <span class="or-divider">OR</span>

              <!-- Register Form -->
              <div class="col-md-6 col-register">
                <div th:if="${validatePassword}" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Mật khẩu tối thiểu 8 kí tự với ít nhất 1 ký tự đặc biệt 1 chữ in hoa 1 chữ in thường và 1 số!</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form th:action="@{/new-user}" method="post">
                  <div class="form-group text-center">
                    <h2 class="bold">Register</h2>
                  </div>
                  <div class="form-group">                
                    <div class="input-icon"> 
                      <i data-feather="mail"></i> 
                      <input required="required" type="email" class="form-control" th:classappend="${emailExists} ? is-invalid" 
                             name="email" placeholder="Email " th:value="${email}">
                      <div class="invalid-feedback">Email đã tồn tại</div>                 
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon">
                      <i data-feather="phone"></i>
                      <input required="required" type="text" class="form-control" th:classappend="${numberPhoneExists} ? is-invalid"
                             name="phone-number" placeholder="Số điện thoại">
                      <div class="invalid-feedback">Số điện thoại không hợp lệ</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon"> 
                      <i data-feather="user"></i>
                      <input required="required" type="text" class="form-control" th:classappend="${usernameExists} ? is-invalid"
                             placeholder="Tên đăng nhập" name="username" maxlength="20">
                      <div class="invalid-feedback">Tên đăng nhập đã tồn tại hoặc không hợp lệ</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon"> 
                      <i data-feather="lock"></i>
                      <input type="password" required="required"
                        class="form-control" name="new-password"
                        placeholder="Mật khẩu"
                       th:classappend="${passwordExists} ? is-invalid">
                      <div class="invalid-feedback">Mật khẩu không trùng khớp</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-icon">
                      <i data-feather="lock"></i>
                      <input type="password" required="required"
                             class="form-control" name="confirm-password"
                             placeholder="Xác nhận mật khẩu"
                              th:classappend="${passwordExists} ? is-invalid">
                      <div class="invalid-feedback">Mật khẩu không trùng khớp</div>
                    </div>
                  </div>
                  <button type="submit"
                    class="btn btn-outline-primary btn-block">ĐĂNG KÝ</button>
                </form>
              </div>
              <!-- /Register Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
  
</body>
</html>
