<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">
    <div class="card">
      <div class="card-body">
        <div class="text-center py-3">
          <i data-feather="check-circle" class="text-success" width="48" height="48"></i>
          <h1>Cảm ơn bạn đã ủng hộ.</h1>
          <p>
            <strong>Bạn cần liên hệ fanpage để xác nhận đơn hàng và thanh toán</strong>
          </p>
          <p>
            <strong>
              Contact here:
              <a href="https://www.facebook.com/hiitfigure" class="link-text" target="_blank">HiiT Figure</a>
            </strong>
          </p>
          <p class="mb-0">
            <span class="text-muted">ID Hóa Đơn: </span>
            <span class="text-info">#ORD<span th:text="${order.id}"></span></span>
          </p>
          <p>
            <span class="text-muted">Số Lượng: </span>
            <span class="text-info"><span th:text="${#numbers.formatDecimal(order.orderTotal, 0, 'COMMA', 2, 'POINT')}"></span>K</span>
          </p>
          <p>Dự đoán ngày giao hàng <span th:text="${#dates.format(order.shippingDate, 'dd-MMM-yyyy')}"></span></p>
          <a th:href="@{/store}" class="btn btn-info rounded mb-3">TIẾP TỤC MUA SẮM</a>
          <a th:href="@{/order/order-detail?order=}+${order.id}" class="btn btn-primary rounded mb-3">XEM HÓA ĐƠN</a>
        </div>
      </div>
    </div>  
  </div> <!-- end container -->
  
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
</body>
</html>
