<!DOCTYPE html>

<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1>1. Chính Sách Thanh Toán</h1>

				<h3>Hàng có sẵn</h3>
				<p>Áp dụng cho các khách hàng thanh toán tại shop hoặc sử dụng hình thức ship cod và ship dịch vụ, bên
					thứ ba như <a target="_blank" href="https://shopee.vn/hiitfigure">shopee.com/hiitfigure</a></p>
				<p>Tiền thanh toán shopee thường bằng tiền website +20-50k</p>
				<h3>Hàng PRE-Order/Order</h3>
				<p>Vui lòng chuyển khoản cọc trước cho shop theo tỉ giá sản phẩm theo từng thời điển</p>
				<p> 0234 5500 702 - TP BANK- TA MINH HIEU</p>
				<p> 1903 2180 9630 14 - TECHCOM BANK- NGUYEN KHAI HOAN</p>
				<p> 0410 5902 801 - TP BANK- LUU THANH TU</p>
				<p>Nội dung: SDT_TEN_TENSANPHAM, ví dụ 0123456789_HOAN_SMPgaoking</p>
				<h3>Ghi chú</h3>
				<p>Vui lòng gửi thông tin chuyển khoản, màn hình/giấy tờ chuyển khoản thành công vào fanpage <a
						target="_blank" href="https://www.facebook.com/hiitfigure">facebook.com/hiitfigure</a></p>
				<h1>2. Chính Sách Vận Chuyển</h1>
				<p>Sử dụng các hình thức vận chuyển từ bên thứ ba như shopee, viettel post</p>
				<p>Phí vận chuyển do khách hàng chịu và được cung cấp báo giá bởi shop, giao động tùy khu vực từ Hồ Chí
					Minh đến khu vực đấy</p>
				<h1>3. Chính Sách Đổi Trả</h1>
				<h3>Lỗi nhà sản xuất</h3>
				</p>- Đổi trả với hàng bị lỗi do nha sản xuất khi mua tại shop, tùy theo từng trường hợp </p>
				<h3>Hàng mua online</h3>
				<p>- Quay clip nhận hàng cùng với shiper đễ xác nhận lại chính xác tình trạng hàng thật tế , sẽ được
					shop hổ trợ đổi trả tùy theo từng trường hợp</p>

			</div>
		</div>
	</div>
	<div th:replace="common/header :: footer"> </div>

</body>

</html>